.passport-title {
  margin: 0 20px;
}

.form-backdrop {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("../images/fruct.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);

  width: 100vw;
  height: 100vh;
  padding: 20px 50px;
  @media screen and (min-width: 1200px) {
    padding: 200px 50px;
  }
}

.form-modal {
  width: 100%;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  background-color: thistle;
  border-bottom-right-radius: 45px;
  border-top-left-radius: 45px;
}

.form-lable {
  width: 100%;
}

.form-buy {
  padding: 20px 20px;
}

.form-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-radius: 4px;
  border-color: tomato;
  outline: 1px solid transparent;
  padding: 5px 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.buy__textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 5px 15px;
  border-radius: 4px;
  border-color: tomato;
  outline: 1px solid transparent;
  outline: 1px solid transparent;
  margin-bottom: 20px;
  cursor: pointer;
}

.button-revers {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-lable__input:focus,
.form-lable__textarea:focus {
  border-color: $accent-color;
  outline: $accent-color;
}

.form-input:focus-within ~ .form-lable__text,
.form-input:not(:placeholder-shown) ~ .form-lable__text {
  color: red;
}

/* .form-modal:hover ~ .form-backdrop,
.form-modal:focus ~ .form-backdrop {
  filter: grayscale(0%);
} */

.form-backdrop:focus,
.form-backdrop:hover {
  filter: grayscale(0%);
}
